
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;

}



::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}



hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}


audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}


textarea {
  resize: vertical;
}



.hidden,
[hidden] {
  display: none !important;
}



.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }


  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

button svg{
  width: 2rem;
  height: 2rem;
}

button:hover{
  svg{
    transform: translateX(15%);
    transition: 0.2s ease-in-out;
  }

}

button{
  padding: 16px;
  border-radius: 10px;

  border: none;
  padding-inline: 25px;
  font-size: 1.25rem;
  box-shadow: 14px 12px 12px 4px rgba(0,0,0,0.6);
}

body{
  margin: 0;
  background: #121212;
  overflow-x: hidden;

}
main{
  overflow : clip;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hero{
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-inline: 50px;

}
.textcontainer{
  padding: 25px;
}

.hero h1{
  font-family: Righteous, sans-serif;
  color: white;
  font-size: 6rem;
  max-width: 60rem;
  text-align: left;
  animation: 0.8s ease-out fromBottomToTop;
}
.herocontent {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
}

.hero .herocontent img{
  position: absolute;
  left: 0;
  top: -300px;
  width: 100%;
  z-index: -2;
  object-fit: contain;
}

.ctoButtons{
  gap: 50px;
  display: inline-flex;
}

.ctoButtons button{
  background: var(--buttonbg);
  font-size: 2rem;
  font-weight: bold;
  font-family: monospace;
}




@keyframes fromBottomToTop {
  0% {
    transform: translateY(40%);
  }
  100%{
    transform: translateY(-0%);
  }
}
